*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}
header{
    background:#4CAF50;
    color:white;
    padding:20px;
    text-align:center;
}

header h1{
    margin-bottom:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}


/* Hero Section */
.hero{
    background:#d4f5d4;
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    background:#4CAF50;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:5px;
}

.btn:hover{
    background:#2E7D32;
}

/* About */
.about{
    text-align:center;
    padding:40px 20px;
}

.about h2{
    color:#4CAF50;
    margin-bottom:15px;
}
/* Services */
.services{
    text-align:center;
    padding:40px 20px;
}

.services h2{
    color:#4CAF50;
    margin-bottom:20px;
}

.card{
    background:white;
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card h3{
    color:#4CAF50;
    margin-bottom:10px;
}

/* Why Choose Us */
.why{
    background:white;
    text-align:center;
    padding:40px;
}

.why h2{
    color:#4CAF50;
    margin-bottom:20px;
}

.why ul{
    list-style:none;
}

.why li{
    margin:10px 0;
    font-size:18px;
}


/* Footer */
footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

/* Responsive */
@media(max-width:768px){

nav a{
    display:block;
    margin:10px 0;
}

.hero h2{
    font-size:30px;
}

.card{
    width:90%;
}

}


